/* !============================================= */
/* ! Universal						   			  */
/* !============================================= */
/* Kill the margin on the last column */
.col:last-child,
.col.last {
  margin-right: 0;
}

/* !============================================= */
/* ! Grids							   			  */
/* !============================================= */
/* Grid-2 vars */
/* Grid-3 vars */
/* Grid-4 vars */
/* Grid-5 vars */
/* ! Columns */
.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

/* !============================================= */
/* ! Spacers						   			  */
/* !============================================= */
/* Variables & Mixins */
/* Selectors */
.spacer {
  margin-bottom: 50px;
}

.spacer-small {
  margin-bottom: 10px;
}

.spacer-med {
  margin-bottom: 25px;
}

.spacer-large {
  margin-bottom: 75px;
}

/* !============================================= */
/* ! Image Blocks						   		  */
/* !============================================= */
.imageblock-image {
  float: left;
  margin: 0 10px 0 0;
}

.imageblock-image-right {
  float: right;
  margin: 0 0 0 10px;
}

.imageblock-content {
  display: table-cell;
  vertical-align: top;
  width: 1000em;
}

.ie6 .imageblock-content,
.ie7 .imageblock-content {
  display: block;
  width: auto;
  zoom: 1;
}
