/* !== Transitions ==================================== */
/* !== Sprites ==================================== */
.sprite-sprite, .sprite-edit-off {
  background: url('../../_img/sprite-s98ed23216c.png') no-repeat;
}

.sprite-edit-off {
  background-position: 0 0;
  height: 1px;
  width: 1px;
}

/* !== Paul Irish HTML5 Helpers =================== */
/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
